$breakpoints: (
  'viewport-small-mobile': 375px,
  'viewport-large-mobile': 480px,
  'viewport-small-tablet': 768px,
  'viewport-large-tablet': 960px,
  'viewport-small-ordenador': 1024px,
);

$size: (
  'title-header': 2.5rem,
  'title': 2rem,
  'subtitle': 1.6rem,
  'paragraph': 1rem,
  'button': 1rem,
);

$colors: (
  'dark': #292B2E,
  'white': #fff,
  'orange': #F28705,
  'blue': #318EAD,
  'green': #79A637,
  'black': #000
)